@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background: #B0C4B1;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
.main{
    &-form{
        border: 2px solid #111;
        border-radius: 8px;
        width: 260px;
        margin: 16px auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 8px;
        &-img{
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            border: 1px solid rgb(175, 20, 20); 
        }
    }
}
.rating{
    border: 2px solid #111;
    border-radius: 8px;
    width: 300px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-height: 300px;
    // overflow-y:scroll;
    overflow: hidden;
    &.--active{
        overflow-y:scroll;
    }
    &-img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    &-title{
        font-size: 20px;
        margin-bottom: 16px;
    }
    &-more{
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
    }
}