@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

body {
  background: #B0C4B1;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 465px;
  padding: 0 20px;
  margin: 0 auto;
}

.pomidoro-count {
  text-align: center;
  padding: 10px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-coins {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.header-coins-count {
  margin-right: 4px;
  font-weight: 700;
}
.header-coins-span {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.app-sliders {
  display: flex;
  justify-content: center;
}
.app-slider {
  padding: 16px;
  position: relative;
  border-radius: 10px;
}
.app-slider-span {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 10px;
}
.app-slider-time {
  background: #F7E1D7;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0 auto;
}
.app-slider-down {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
.app-slider-down-btns {
  margin-right: 24px;
}
.app-slider-popup {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
}
.app-slider-popup.--active {
  opacity: 1;
  visibility: visible;
}
.app-slider-popup-body {
  background-color: #fff;
  position: fixed;
  z-index: 140;
  max-width: 280px;
  padding: 5px;
  top: 10%;
  border-radius: 10px;
}
.app-slider-popup-body-close {
  cursor: pointer;
  font-weight: 700;
  text-align: right;
  margin: 5px 5px 0 0;
}
.app-slider-popup-body-h {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.app-slider-popup-body-text {
  text-align: justify;
  padding: 15px;
}
.app-slider-popup-bg {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.slick-list {
  width: 300px;
}
.slick-slide {
  margin-right: 70px;
}
.slick-next {
  margin-right: 30px;
}
.slick-prev {
  margin-left: 30px;
}
.slick-dots li button::before {
  width: 32px;
  height: 32px;
  color: #D9D9D9;
}
.slick-dots li.slick-active button:before {
  color: #3348cf;
  opacity: 0.75;
}

.btn-start, .btn-stop, .btn-reset {
  padding: 8px;
  background: #EDAFB8;
  border: none;
  font-size: 16px;
}

.content {
  display: none;
}
.content.--active {
  display: block;
}

.item.--active {
  border-bottom: 2px solid blue;
}

.burger {
  display: block;
  width: 32px;
  cursor: pointer;
  position: relative;
}
.burger-span, .burger:after, .burger:before {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.burger-span {
  top: 20px;
}
.burger:after, .burger:before {
  content: "";
}
.burger:after {
  top: 24px;
}
.burger:before {
  bottom: 16px;
}
.burger.--active span {
  opacity: 0;
}
.burger.--active::after {
  transform: rotate(-45deg);
  bottom: 24px;
}
.burger.--active::before {
  transform: rotate(45deg);
  top: 24px;
}

.flex-button {
  display: inline;
  width: 100%;
}

input {
  border: none;
}
input[type=text] {
  width: 50%;
  padding: 5px 10px;
  outline: none;
  font-size: 1.2rem;
  margin-right: -4px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
input[type=text]:disabled {
  cursor: default;
  color: #111;
  background: #DEDBD2;
}
input[type=button] {
  padding: 6px;
  font-size: 1.04rem;
  color: white;
  margin: 0 -3px;
}
input[type=button]:active {
  transform: scale(0.94);
}

#add-btn {
  margin-right: -4px;
  background-color: #e9adad;
}

#del-btn {
  background-color: #540a0a;
}

.new-tasks {
  margin: 0px auto;
  max-height: 115px;
  overflow-y: auto;
}

.update-task {
  margin-left: 10px;
  background-color: #6497ef;
}

.rename-task {
  background-color: #e9adad;
}

.del-task {
  background-color: #540a0a;
}

.ready-task {
  background-color: rgb(83, 174, 93);
}

.task {
  width: 91%;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}
.task-input {
  margin: 10px auto 5px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #111;
  background: #B0C4B1;
  padding: 4px 0;
}
.footer-flexs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-flex-span {
  display: block;
  height: 32px;
  width: 32px;
}
.footer-flex-link {
  text-decoration: none;
  color: #111;
}

@media (max-width: 425px) {
  .header-title {
    font-size: 24px;
  }
  .app-slider-time {
    width: 150px;
    height: 150px;
  }
  .slick-next {
    margin-right: 20px;
  }
  .slick-prev {
    margin-left: 20px;
  }
  .new-tasks {
    max-height: 155px;
  }
}
@media (max-width: 375px) {
  .header-title {
    font-size: 22px;
  }
  .header-coins-span {
    width: 26px;
    height: 26px;
  }
  .app-sliders {
    display: flex;
    justify-content: center;
  }
  .app-slider-time {
    width: 130px;
    height: 130px;
    font-size: 14px;
  }
  .app-slider-popup-body {
    max-width: 240px;
  }
  .app-slider-popup-body-h {
    font-size: 16px;
  }
  .app-slider-popup-body-text {
    font-size: 14px;
    padding: 12px;
  }
  .btn-start, .btn-stop, .btn-reset {
    padding: 4px;
    font-size: 14px;
  }
  .burger-span {
    top: 16px;
  }
  .burger:after, .burger:before {
    content: "";
  }
  .burger:after {
    top: 22px;
  }
  .burger:before {
    bottom: 12px;
  }
  input[type=text] {
    padding: 5px;
    font-size: 1.05rem;
  }
  input[type=button] {
    padding: 4px;
    font-size: 1rem;
  }
  input[type=button]:active {
    transform: scale(0.94);
  }
  .new-tasks {
    max-height: 207px;
  }
  .update-task {
    max-width: 28px;
  }
  .rename-task {
    background-color: #e9adad;
    max-width: 28px;
  }
  .del-task {
    background-color: #540a0a;
    max-width: 28px;
  }
  .task {
    width: 95%;
    margin: 5px auto;
  }
  .task-input {
    margin: 10px auto 5px;
  }
  .slick-next {
    margin-right: 10px;
  }
  .slick-prev {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */