.shop{
    &-category{
        border: 2px solid #111;
        border-radius: 10px;
        &:not(last-child){
            margin-top: 32px;
        }
        &-link{
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 16px;
            color: #111;
            font-weight: bold;
        }
        &-item{
            padding: 16px;
            border: 2px solid #111;
            border-radius: 10px;
            &:not(last-child){
                margin-top: 32px;
            }
        }
    }
    &-blue{
        background: rgb(78, 78, 187);
    }
    &-green{
        background: rgb(32, 163, 122);
    }
    &-orange{
        background: rgb(198, 94, 34);
    }
    &-red{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
    }
    &-border{
        &-grad{
            border: 2px solid;
            border-radius: 50px;
            border-image: linear-gradient(to right, green, yellow) 1;
            animation: gradient 15s ease infinite;
        }
    }
    &-font{
        &-italic{
            font-style: italic;
        }
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}